.DS_Store
.idea/
.vscode/
*.iml

backend/build/
backend/.gradle/
backend/.classpath
backend/.project
backend/.settings/

ios/**/xcuserdata/
ios/**/DerivedData/
ios/**/*.xcuserstate

.env


backend/.gradle/
backend/build/
